.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  /* height: 100vh; */ /* Removed to allow natural height */
}
.galerie__h2 {
  margin-bottom: 20px;
}
.galerie__figure {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px; */
}
.galerie__img {
  max-width: 100%;
}
.galerie__caption {
  text-align: center;
  margin-top: 8px;
}
