.recherche {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  min-width: 36%;
  background-color: #00000010;
  border-bottom: 1px solid #000000;
  border-radius: 5px;
  
}
.recherche__input {
  /* border :1px soolid #aaa; */
  /*  margin-bottom: 4px;*/
  padding: 3px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #b1cadb;
  width: 92%;
}
.recherche__input:focus {
  border: none;
  outline: none;
  background-color: #0000001c;
}
.recherche__input::placeholder {
  color: #000000c6;
}
.recherche__img {
  display: inline-block;
  /*   border: 1px solid #aaa; */
  vertical-align: bottom;
  width: 20px;
  height: 25px;
}
