* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Caesar Dressing";
}

/* ///////////////////////////////// Général  */
/* Les sélecteurs généraux ont un impact sur chacune des section de la page */
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
figure {
  margin: 0;
}
img {
  display: block;
  width: 100%;
}

section,
header,
footer {
  min-height: 100vh;
}

.centre {
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgb(240 248 255 / 57%);
  padding: 30px;
}

/* ///////////////////////  Couleurs d'arrière plan de chacune des section */

.conteneur:nth-of-type(1) {
  background-color: bisque;
}
.conteneur:nth-of-type(2) {
  background-color: rgb(100, 200, 23);
}
.conteneur:nth-of-type(3) {
  background-color: rgb(17, 118, 138);
}
.conteneur:nth-of-type(4) {
  background-color: rgb(163, 42, 182);
}

.conteneur:nth-of-type(5) {
  background-color: rgb(228, 205, 27);
}

.conteneur:nth-of-type(6) {
  background-color: rgb(44, 39, 4);
}
.conteneur:nth-of-type(7) {
  background-color: #912b2b98;
}
.conteneur:nth-of-type(8) {
  background-color: rgba(39, 150, 35, 0.808);
}
/* ////////////////////////////////////////////////// .hero */

.hero {
  background-image: url("../images/1315631.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.hero__h1 {
  font-size: 4rem;
}

.dynapuff {
  font-family: "Caesar Dressing";
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.hero__bouton {
  display: block;
  padding: 10px;
  background: linear-gradient(
    264deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(26, 26, 199, 1) 100%
  );
  width: 200px;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.hero__bouton:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(26, 26, 199, 1) 100%
  );
}
/* //////////////////////////////////////////// article */
.principal__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.principal__h2 {
  font-size: 20px;
  color: rgb(12, 74, 126);
}
.principal__figure {
  display: flex;
  flex-direction: column;
}
.principal__figure img {
  width: 90%;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}
.principal__figure figcaption {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  background-color: #00000018;
  text-align: center;
  font-style: italic;
}
.article__1, .article__3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article__2, .article__4{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-top: #252525;
}
/* paragraphe */
.article__p__1, .article__p__3{
  display: block;
  width: 500px;
}
.article__p__2, .article__p__4{
  display: block;
  width: 500px;
}

/* image */
.article__img__1, .article__img__3{
  display: block;
  width: 350px;
}

.article__img__2, .article__img__4{
  display: block;
  width: 350px;
}
/* //////////////////////////////////////////// tableau .tableau */
table {
  margin: 0 auto;
}

.tableau {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid #aaa;
}
.tableau th {
  border: 1px solid #aaa;
  padding: 15px 5px;
  text-align: left;
  background-color: #ffffff3d;
}
.tableau td {
  border: 1px solid #aaa;
  padding: 10px 5px;
  background-color: #ffffff6f;
}
/* //////////////////////////////////////////// pied de page .pied__section .pied*/

.pied {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pied__section {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
}
.pied__cours {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
.pied__resume {
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 400px;
}
.pied__sociaux {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  gap: 20px;
}
ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}
